#banner {
  width: 100%;
  height: 900px;
  background: url("../../img/板块1背景@2x.png");
  background-size: 100% 900px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include mobile {
    height: 380px;
    background-size: 100% 380px;
  }

  h1 {
    width: 920px;
    height: 240px;
    font-size: 80px;
    line-height: 80px;
    color: #FFF;
    margin: 228px 0 0 100px;
    position: relative;
    z-index: 1;

    @include mobile {
      width: 300px;
      height: 84px;
      font-size: 28px;
      line-height: 28px;
      margin: 100px 0 0 20px;
    }
  }

  p {
    width: 700px;
    height: 160px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 40px;
    margin: 24px 0 0 100px;
    position: relative;
    z-index: 1;

    @include mobile {
      width: 245px;
      height: 56px;
      font-size: 12px;
      line-height: 14px;
      margin: 20px 0 0 20px;
    }
  }

  .request-info-btn {
    width: 200px;
    height: 48px;
    border-radius: 24px;
    margin: 48px 0 0 100px;
    position: relative;
    z-index: 1;

    @include mobile {
      width: 140px;
      height: 32px;
      border-radius: 16px;
      margin: 20px 0 0 20px;
      font-size: 14px;
    }
  }

  .bg {
    width: 1021px;
    height: 898px;
    background: url("../../img/图层 1@2x.png");
    background-size: 1021px 898px;
    position: absolute;
    top: 0;
    right: 0;

    @include pc {
      transform-origin: right bottom;
      transition: transform 0.6s ease 0s;
    }

    @include mobile {
      width: 300px;
      height: 380px;
      background-size: 300px 380px;
    }
  }

  &:hover .bg {
    @include pc {
      transform: scale(1.05);
    }
  }
}
