<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="personCtrl">

    <p>名: <input type="text" ng-model="firstName"></p>

    <p>姓: <input type="text" ng-model="lastName"></p>

    <p>姓名: {{fullName()}}</p>

    <p>姓名: <span ng-bind="fullName();"></span></p>

</div>
<script>

    var app = angular.module('myApp', []);

    app.controller('personCtrl', function ($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
//        实时监控
        $scope.fullName = function () {
            return $scope.firstName + " " + $scope.lastName;
        };
    });

</script>

</body>
</html>