<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <div ng-bind="selected"></div>

    <select ng-model="selected" ng-options="x for x in names"></select>

    <select ng-model="selected">
        <option ng-repeat="x in names">{{x}}</option>
    </select>

    <p>-----------------------------------------------------我是分割线-----</p>

    <!--使用 ng-options 的选项的一个对象， ng-repeat 是一个字符串。-->

    <div ng-bind="selected2"></div>


    <select ng-model="selected2" ng-options="x.site for x in names2"></select>

    <select ng-model="selected2">
        <option ng-repeat="x in names2" value="{{x.url}}">{{x.site}}</option>
    </select>

    <h1>你选择的是: {{selected2.site}}</h1>

    <p>网址为: {{selected2.url}}</p>

    <p>-----------------------------------------------------我是分割线-----</p>


    <select ng-model="selected3" ng-options="x for (x,y) in names3"></select>

    <h1>你选择的值是: {{selected3}}</h1>

    <p>-----------------------------------------------------我是分割线-----</p>

    <select ng-model="selectedCar" ng-options="y.brand for (x, y) in names4"></select>

    <h1>你选择的是: {{selectedCar.brand}}</h1>

    <h2>模型: {{selectedCar.model}}</h2>

    <h3>颜色: {{selectedCar.color}}</h3>

</div>

</body>
<script>

    var app = angular.module('myApp', []);

    app.controller('myCtrl', function ($scope) {
//        数组格式
        $scope.names = ["Google", "Runoob", "Taobao"];

//        数组->json格式
        $scope.names2 = [
            {site: "Google", url: "http://www.google.com"},
            {site: "Runoob", url: "http://www.runoob.com"},
            {site: "Taobao", url: "http://www.taobao.com"}
        ];

//        数据源为对象 前面实例我们使用了数组作为数据源，以下我们将数据对象作为数据源。
        $scope.names3 = {
            site01: "Google",
            site02: "Runoob",
            site03: "Taobao"
        };

//        json格式带json格式
        $scope.names4 = {
            car01: {brand: "Ford", model: "Mustang", color: "red"},
            car02: {brand: "Fiat", model: "500", color: "white"},
            car03: {brand: "Volvo", model: "XC90", color: "black"}
        };
    })

</script>
</html>