<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp">

    <div ng-controller="myCtrl">

        <h1>我的备忘录</h1>

        <form ng-submit="toAdd()">
            <input type="text" size="40" placeholder="新增" ng-model="content">
            <button type="submit" ng-click="plus();">新增</button>
        </form>

        <ul>
            <li ng-repeat="item in list">
                <input type="checkbox" ng-model="item.listCheck">
                <span ng-bind="item.listText"></span>
            </li>
        </ul>

        <button ng-click="delete()">删除记录</button>

    </div>

</div>

</body>
<script>

    var app = angular.module('myApp', []);

    app.controller('myCtrl', function ($scope) {
        $scope.list = [{listCheck: false, listText: 'Clean House'}];

        $scope.toAdd = function () {
            if ($scope.content) {
                $scope.list.push({listCheck: false, listText: $scope.content});
                $scope.content = '';
            }
        };

        $scope.delete = function () {
            var oldList = $scope.list;
            $scope.list = [];

            angular.forEach(oldList, function (data, index, item) {
                if (data.listCheck == false) {
                    $scope.list.push(data);
                }
            })
        };
    })

</script>
</html>