<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        textarea {
            position: relative;
        }

        #t {
            /*position: absolute;*/
            /*left: 0;*/
            /*bottom: 0;*/
        }
    </style>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp">

    <div ng-controller="myCtrl">

        <h1>我的笔记</h1>

        <textarea cols="40" rows="10" ng-model="message" maxlength="{{maxLength}}"></textarea>

        <span id="t">您还可以输入<span ng-bind="num"></span>个字</span>

        <button ng-click="sub();">提交</button>

        <button ng-click="clean();">撤销</button>

        <div id="show"></div>

    </div>

</div>

</body>
<script>

    var app = angular.module('myApp', []);

    app.controller('myCtrl', function ($scope, $http) {
        $scope.maxLength = 10;
        $scope.num = 10;

        $scope.$watch('message', function () {
            $scope.num = $scope.maxLength - $scope.message.length;
        });

        $scope.sub = function () {
            if ($scope.message) {
                $http.post('php/message.php', JSON.stringify({
                    dataType: 1,
                    message: $scope.message
                })).success(function (res) {
                    $("#show").html(res);
                    $scope.message = '';
                })
            }
            else {
                alert('写点内容再提交吧!!!');
                $scope.message = '';
            }
        };

        $scope.clean = function () {
            $scope.message = '';
        };

    })

</script>
</html>