<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #app div {
            margin-bottom: 10px;
        }
    </style>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>


<div id="app">
    <select v-model="key">
        <option v-for="item in gpList">{{item.name}}</option>
    </select>

    <div>
        BuyPrice:{{buyPrice}}
    </div>
    <div>
        BuyNumber:{{buyNumber}}
    </div>

    <div>
        AddPrice:<input type="number" v-model="addPrice">
    </div>
    <div>
        AddNumber:<input type="number" v-model="addNumber">
    </div>
    <div>
        AddTotalPrice:<input type="number" v-model="addTotalPrice">
    </div>

    <div>
        TotalPrice:<input type="text" v-model="totalPrice">
    </div>
    <div>
        TotalNumber:<input type="number" v-model="totalNumber">
    </div>

    <div>
        EachPrice:<input type="number" v-model="eachPrice">
    </div>

    <div>
        TargetPrice:<input type="number" v-model="targetPrice">
    </div>

    <div>
        MakeMoney:<input type="number" v-model="makeMoney">
    </div>
</div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            key: '',
            buyPrice: '',
            buyNumber: '',
            addPrice: '',
            addNumber: '',
            addTotalPrice: '',
            totalPrice: '',
            totalNumber: '',
            eachPrice: '',
            targetPrice: '',
            makeMoney: '',
            gpList: [
                // {
                //     name: '湖南盐业',
                //     buyPrice: 14.75,
                //     buyNumber: 700
                // },
                // {
                //     name: '新疆火炬',
                //     buyPrice: 39,
                //     buyNumber: 300
                // },
                {
                    name: '东尼电子',
                    buyPrice: 46.43,
                    buyNumber: 560
                },
                {
                    name: '大华股份',
                    buyPrice: 15.32,
                    buyNumber: 2400
                },
                {
                    name: '完美世界',
                    buyPrice: 24.38,
                    buyNumber: 1800
                }
            ]
        },
        watch: {
            key: function (val, oldVal) {
                let search;
                for (let i = 0; i < this.gpList.length; i++) {
                    if (this.gpList[i].name === val) {
                        search = this.gpList[i]
                        break
                    }
                }
                this.buyPrice = search.buyPrice
                this.buyNumber = this.totalNumber = search.buyNumber
                this.eachPrice = this.targetPrice = this.makeMoney = this.addPrice = this.addNumber = this.addTotalPrice = ''
                this.totalPrice = this.buyPrice * this.buyNumber
            },
            addPrice: function (val, oldVal) {
                if (val === '') {
                    this.totalPrice = ''
                } else {
                    if (this.addNumber) {
                        this.addTotalPrice = val * this.addNumber
                        this.totalPrice = this.buyPrice * this.buyNumber + val * this.addNumber
                        this.eachPrice = this.totalPrice / this.totalNumber
                    }
                }
            },
            addNumber: function (val, oldVal) {
                if (val === '') {
                    this.totalPrice = ''
                } else {
                    this.totalNumber = +val + this.buyNumber
                    if (this.addPrice) {
                        this.addTotalPrice = val * this.addPrice
                        this.totalPrice = this.buyPrice * this.buyNumber + val * this.addPrice
                        this.eachPrice = this.totalPrice / this.totalNumber
                        this.makeMoney = (this.targetPrice - this.eachPrice) * this.totalNumber
                    }
                }
            },
            addTotalPrice: function (val, oldVal) {
                if (this.addPrice) {
                    this.addNumber = val / this.addPrice
                }
            },
            targetPrice: function (val, oldVal) {
                this.makeMoney = (val - this.eachPrice) * this.totalNumber
            },
        }
    });
</script>
</html>