<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <!--novalidate 属性是在 HTML5 中新增的。禁用了使用浏览器的默认验证。-->
    <form novalidate>
        <p>First Name:<input type="text" ng-model="user.firstName"></p>

        <p>Last Name:<input type="text" ng-model="user.lastName"></p>

        <button ng-click="reset()">RESET</button>
    </form>

    <p>form = {{user}}</p>
    <p>master = {{master}}</p>
</div>

</body>
<script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl' , function($scope) {
        $scope.master = {firstName: "John", lastName: "Doe"};
        $scope.reset = function() {
            $scope.user = angular.copy($scope.master);
        };
        $scope.reset();//手动运行
    });

</script>
</html>