<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//cdn.bootcss.com/vue/1.0.12/vue.min.js"></script>
</head>
<body>

<div id="app">
    <input type="text" v-model="X">
    <input type="text" v-model="Y">
    <button v-on:click="operation('add');">加法</button>
    <!--v-on:click = @click-->
    <button @click="operation('sub')">减法</button>
    <button @click="operation('mul')">乘法</button>
    <button @click="operation('div')">除法</button>
    <p id="result">{{ Z }}</p>
</div>

</body>
<script>
    new Vue({
        el: '#app',
        data: {
            X: '',
            Y: '',
            Z: '',
        },
        methods: {
            operation(str) {
//                trim()移除字符串两侧的字符
//                input中的value值状态为string，运算需要转换为int
                var m1 = parseFloat(this.X.trim());
                var m2 = parseFloat(this.Y.trim());

                if (str == 'add') {
                    if (!isNaN(m1) && !isNaN(m2)) {
                        this.Z = m1 + m2;
                    }
                }
                else if (str == 'sub') {
                    if (!isNaN(m1) && !isNaN(m2)) {
                        this.Z = m1 - m2;
                    }
                }
                else if (str == 'mul') {
                    if (!isNaN(m1) && !isNaN(m2)) {
                        this.Z = m1 * m2;
                    }
                }
                else if (str == 'div') {
                    if (!isNaN(m1) && !isNaN(m2)) {
                        this.Z = m1 / m2;
                    }
                }
            }
        }
    })
</script>
</html>