<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//cdn.bootcss.com/vue/1.0.12/vue.min.js"></script>
</head>
<body>

<div id="app">
    <input v-model="newTodo" v-on:keyup.enter="addTodo">
    <button v-on:click="addTodo">添加</button>
    <button v-on:click="cleanInput">清除</button>
    <ul>
        <li v-for="todo in todos">
            {{ todo.text }}
            <button @click="removeTodo($index)">X</button>
        </li>
    </ul>
</div>

</body>
<script>
    new Vue({
        el: '#app',
        data: {
            newTodo: '',
            todos: [
                {text: 'Add some todos'}
            ]
        },
        methods: {
//            添加
            addTodo() {
                var self = this;
                var text = self.newTodo.trim();

                if (text) {
                    this.todos.push({text: text});
                    this.newTodo = '';
                }
            },

//            删除
            removeTodo(index) {
                console.log(index);
                this.todos.splice(index, 1);
            },

//          清除
            cleanInput() {
                this.newTodo = '';
            }
        }
    })
</script>
</html>