#content {
  #c1 {
    width: 100%;
    height: 800px;
    background: url("../../img/板块2背景@2x.png");
    background-size: 100% 800px;
    overflow: hidden;
    position: relative;

    @include mobile {
      height: 580px;
      background: url("../../img/板块2背景-m@2x.png");
      background-size: 100% 580px;
    }

    .img {
      width: 715px;
      height: 784px;
      background: url("../../img/板块2配图@2x.png");
      background-size: 715px 784px;
      position: absolute;
      top: 16px;
      left: 78px;

      @include pc {
        transform-origin: left center;
        transition: transform 0.6s ease 0s;
      }

      @include mobile {
        width: 293px;
        height: 336px;
        background-size: 293px 336px;
        top: 200px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
    }

    &:hover .img {
      @include pc {
        transform: scale(1.05);
      }
    }

    .p1 {
      width: 520px;
      height: 54px;
      margin: 200px 0 0 820px;
      font-size: 54px;
      color: #FFF;
      line-height: 54px;

      @include mobile {
        width: 280px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
        margin: 38px 0 0 20px;
      }
    }

    .p2 {
      width: 520px;
      height: 96px;
      font-size: 24px;
      margin: 32px 0 0 820px;
      color: rgba(255, 255, 255, 0.8);
      line-height: 32px;

      @include mobile {
        width: 280px;
        height: 42px;
        font-size: 12px;
        line-height: 14px;
        margin: 20px 0 0 20px;
      }
    }

    .p3 {
      width: 520px;
      height: 64px;
      margin: 16px 0 0 820px;
      font-size: 24px;
      color: #FFF;
      line-height: 32px;

      @include mobile {
        width: 280px;
        height: 28px;
        font-size: 12px;
        line-height: 14px;
        margin: 12px 0 0 20px;
      }
    }
  }

  #c2 {
    width: 100%;
    height: 800px;
    background: url("../../img/板块3背景@2x.png");
    background-size: 100% 800px;
    overflow: hidden;
    position: relative;

    @include mobile {
      height: 440px;
      background: url("../../img/板块3背景-m@2x.png");
      background-size: 100% 440px;
    }

    .img {
      width: 677px;
      height: 364px;
      background: url("../../img/版块3配图@2x.png");
      background-size: 677px 364px;
      position: absolute;
      top: 216px;
      right: 107px;

      @include pc {
        transform-origin: right bottom;
        transition: transform 0.6s ease 0s;
      }

      @include mobile {
        width: 280px;
        height: 151px;
        background-size: 280px 151px;
        top: 220px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
    }

    &:hover .img {
      @include pc {
        transform: scale(1.05);
      }
    }

    .p1 {
      width: 470px;
      height: 108px;
      margin: 210px 0 0 100px;
      font-size: 54px;
      color: #101313;
      line-height: 59px;

      @include mobile {
        width: 280px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
        margin: 60px 0 0 20px;
      }
    }

    .p2 {
      width: 470px;
      height: 32px;
      margin: 32px 0 0 100px;
      font-size: 32px;
      color: #101313;
      line-height: 32px;

      @include mobile {
        width: 280px;
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        margin: 20px 0 0 20px;
      }
    }

    .p3 {
      width: 470px;
      height: 96px;
      margin: 16px 0 0 100px;
      font-size: 24px;
      color: #101313;
      line-height: 32px;

      @include mobile {
        width: 280px;
        height: 28px;
        font-size: 12px;
        line-height: 14px;
        margin: 12px 0 0 20px;
      }
    }
  }

  #c3 {
    width: 100%;
    height: 900px;
    background: url("../../img/板块4背景@2x.png");
    background-size: 100% 900px;
    overflow: hidden;
    position: relative;

    @include mobile {
      height: 898px;
      background: url("../../img/板块4背景-m@2x.png");
      background-size: 100% 898px;
    }

    .img {
      width: 579px;
      height: 612px;
      background: url("../../img/编组 34@2x.png");
      background-size: 579px 612px;
      position: absolute;
      top: 124px;
      left: 82px;

      @include pc {
        transform-origin: left center;
        transition: transform 0.6s ease 0s;
      }

      @include mobile {
        width: 278px;
        height: 312px;
        background-size: 278px 312px;
        top: 295px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
    }

    &:hover .img {
      @include pc {
        transform: scale(1.05);
      }
    }

    .p1 {
      width: 600px;
      height: 54px;
      margin: 109px 0 0 740px;
      font-size: 54px;
      color: #FFFFFF;
      line-height: 59px;

      @include mobile {
        width: 280px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
        margin: 60px 0 0 20px;
      }
    }

    .p2 {
      width: 600px;
      height: 80px;
      margin: 32px 0 0 740px;
      font-size: 32px;
      color: #FFFFFF;
      line-height: 40px;

      @include mobile {
        width: 280px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
        margin: 20px 0 0 20px;
      }
    }

    .p3 {
      width: 600px;
      height: 64px;
      margin: 16px 0 0 740px;
      font-size: 24px;
      color: rgba(255, 255, 255, 0.8);
      line-height: 32px;

      @include mobile {
        width: 280px;
        height: 42px;
        font-size: 12px;
        line-height: 14px;
        margin: 12px 0 0 20px;
      }
    }

    .p4 {
      width: 600px;
      height: 64px;
      font-size: 24px;
      margin: 16px 0 0 740px;
      color: rgba(255, 255, 255, 0.8);
      line-height: 32px;

      @include mobile {
        width: 280px;
        height: 42px;
        font-size: 12px;
        line-height: 14px;
        margin: 12px 0 0 20px;
      }
    }

    pre {
      code.hljs {
        @include mobile {
          width: 280px;
          height: 178px;
          border-radius: 4px;
          backdrop-filter: blur(4.666666666666667px);
          margin: 20px auto 60px;
          position: absolute;
          top: 660px;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
          font-size: 12px;
        }
      }
    }
  }

  #c4 {
    width: 100%;
    height: 520px;
    background: linear-gradient(96deg, #F4F5FF 0%, #FFF8F2 100%);
    overflow: hidden;

    @include mobile {
      height: 180px;
    }

    .p1 {
      width: 846px;
      height: 108px;
      margin: 126px auto 0;
      font-size: 54px;
      color: #101313;
      line-height: 54px;
      text-align: center;
      transform-origin: bottom center;
      transition: transform 0.6s ease 0s;

      @include mobile {
        width: 280px;
        height: 48px;
        font-size: 20px;
        line-height: 24px;
        margin: 32px auto 0;
      }
    }

    &:hover .p1 {
      transform: scale(1.05);
    }

    .p2 {
      width: 940px;
      height: 24px;
      font-size: 24px;
      margin: 32px auto 0;
      color: rgba(16, 19, 19, 0.8);
      line-height: 24px;
      text-align: center;

      @include pc {
        transform-origin: center bottom;
        transition: transform 0.6s ease 0s;
      }

      @include mobile {
        width: 209px;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
        margin: 8px auto 0;
      }
    }

    &:hover .p2 {
      @include pc {
        transform: scale(1.05);
      }
    }

    .request-info-btn {
      width: 200px;
      height: 44px;
      font-size: 18px;
      color: #101313;
      border-radius: 22px;
      border: 1px solid #101313;
      backdrop-filter: blur(2px);
      margin: 60px auto 0;

      @include mobile {
        width: 140px;
        height: 32px;
        border-radius: 16px;
        font-size: 14px;
        margin: 16px auto 0;
      }
    }
  }
}
