<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #app {
            overflow: hidden;
        }

        #app2 {
            overflow: hidden;
        }

        .div {
            width: 200px;
            height: 200px;
            margin: 10px;
            background-color: #0000ee;
            float: left;
        }

        .change {
            background-color: #00b800;
        }
    </style>
    <script src="//cdn.bootcss.com/vue/2.2.4/vue.min.js"></script>
</head>
<body>

<div id="app">
    <div class="div"
         v-for="(val,index) in clickStatusArr"
         :class="{'change':clickStatusArr[index] === true}"
         @click="clickDiv(index)">
    </div>
</div>

<div id="app2">
    <div class="div"
         v-for="(val,index) in clickStatusArr"
         :class="{'change':clickStatusArr[index] === true}"
         @click="clickDiv(index)">
    </div>
</div>


</body>
<script>
    let arr1;
    let arr2;

    new Vue({
        el: '#app',
        data(){
            return {
                clickStatusArr: [false, false, false]
            };
        },
        methods: {
            clickDiv(index){
                this.clickStatusArr = this.clickStatusArr.map(function () {
                    return false;
                });
                this.clickStatusArr[index] = true;
                console.log(this.clickStatusArr);
                arr1 = JSON.stringify(this.clickStatusArr);
            }
        }
    });

    new Vue({
        el: '#app2',
        data(){
            return {
                clickStatusArr: [false, false, false],
//                clickStatusArrChange: false,
            };
        },
        methods: {
            clickDiv(index){

                this.clickStatusArr.map(function (val, idx) {
                    this[idx] = (idx === index);
                }, this.clickStatusArr);

                console.log(this.clickStatusArr);
                arr2 = JSON.stringify(this.clickStatusArr);
                console.log(arr1 === arr2);
            }
        }
    })
</script>
</html>