body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    -webkit-box-sizing: border-box;
}

body {
    font: 12px/1.5 'microsoft yahei', arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}