<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

<div style="height: 66px;line-height:66px;position:relative;">
    <div style="vertical-align: middle;display: inline-block">
        <p ng-if="!accountDetail.nick" class="ucenter-username" ng-click="loadUserData()" style="line-height: 1;">注册/登录</p>

        <p ng-if="!accountDetail.nick" class="residual-amount" ng-click="loadUserData()" style="line-height: 1;">欢迎注册成为猪猪快购会员</p>
    </div>
    1232323
</div>

<img src="/zd/images/0.jpg" width="100"><span>123</span>

<div></div>

<img src="/zd/images/0.jpg" width="100">
<span>123</span>

<!--为什么回车有距离？-->



<div style="height: 200px;line-height: 200px;border: 1px solid #ccc;">
    <img src="/zd/images/0.jpg" width="100">
    <!--为什么img没有居中？-->
    <span>11111</span>
</div>
</body>
</html>