html,body{
    width: 100%;
    height: 100%;
}

body{
    font: 12px/1.5em 'Microsoft YaHei';
    margin: 0;
    padding: 0;
}

.book{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.book-mark{
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: #262626;
    background: #fafafa;
    border-right: 1px solid rgba(0,0,0,0.07);
    overflow-y: scroll;
}

.book-mark ul{
    list-style: none;
}

.book-mark .book-mark-list{
    padding-left: 0;
}

.book-mark .book-mark-nesting-list{
    padding-left: 30px;
}

.book-mark a{
    display: block;
    padding: 10px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: #262626;
}

.book-mark a.click{
    color: #008fff;
}

.book-cont{
    color: #262626;
    background: #fafafa;
}

.book-cont{
    width: 100%;
    height: 100%;
    padding-left: 300px;
    box-sizing: border-box;
}

.book-cont iframe{
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding-left: 20px;
    box-sizing: border-box;
}

span.discuss {
    color: red;
}

pre{
    padding: 0 15px;
    word-wrap: normal;
    overflow: auto;
    background-color: #fdf6e3;
    border-radius: 5px;
}

pre{
    color: #000;
}

pre .h5-comment{
    color: #aaa;
}

pre .h5-title{
    color: #4183c4;
}

pre .h5-attribute{
    color: #c82829;
}

pre .h5-value{
    color: #718c00;
}

pre .h5-class{
    color: #262626;
}

pre .h5-function{
    color: #c82829;
}