<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <p>更新输入框:</p>
    <!--ng-model-options 指令绑定了 HTML 表单元素到 scope 变量中-->

    <!--{updateOn: 'event'}规则指定事件发生后绑定数据-->

    <!--{debounce : 1000} 规定等待多少毫秒后绑定数据-->

    <!--{allowInvalid : true|false} 规定是否需要验证后绑定数据-->

    <!--{getterSetter : true|false} 规定是否作为 getters/setters 绑定到模型-->

    <!--{timezone : '0100'} 规则是否使用时区-->

    <input ng-model="name" ng-model-options="{updateOn: 'blur'}">

    <input ng-model="name2" ng-model-options="{debounce: 2000}">

    <input ng-model="name3" ng-model-options="{allowInvalid: false}">

    <p>在失去焦点时绑定输入框的值到 scope 变量中:</p>

    {{name}} {{name2}} {{name3}}

</div>

</body>
<script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', function ($scope) {
        $scope.name = "John Doe";
        $scope.pd = false;
    });

</script>
</html>